In [84]:
import pandas as pd


path = "../data/raw/anxiety-disorders-treatment-gap.csv"


df = pd.read_csv(path)


display(df.head())
print(df.columns)

,Entity,Code,Year,possibly_adequate_treatment__conditional,other_treatments__conditional,untreated__conditional
0,Argentina,ARG,2015,12.0,18.0,70.0
1,"Beijing/Shanghai, China",NaN,2005,8.8,8.5,82.7
2,Belgium,BEL,2002,11.2,24.5,64.3
3,Bulgaria,BGR,2006,7.3,14.3,78.4
4,Colombia,COL,2012,3.2,10.0,86.8

Index(['Entity', 'Code', 'Year', 'possibly_adequate_treatment__conditional',
       'other_treatments__conditional', 'untreated__conditional'],
      dtype='object')

In [85]:
df = df.rename(columns={
    "Entity": "country",
    "Code": "country_code",
    "Year": "year",
    "possibly_adequate_treatment__conditional": "adequate_treatment",
    "other_treatments__conditional": "other_treatment",
    "untreated__conditional": "untreated"
})

In [86]:
df = df.rename(columns={
    "Entity": "country",
    "Code": "country_code",
    "Year": "year",
    "possibly_adequate_treatment__conditional": "adequate_treatment",
    "other_treatments__conditional": "other_treatment",
    "untreated__conditional": "untreated"
})

In [87]:
df_long = df.melt(
    id_vars=["country", "country_code", "year"],
    value_vars=["adequate_treatment", "other_treatment", "untreated"],
    var_name="indicator",
    value_name="value"
)

display(df_long.head())

                   country country_code  year           indicator  value
0                Argentina          ARG  2015  adequate_treatment   12.0
1  Beijing/Shanghai, China          NaN  2005  adequate_treatment    8.8
2                  Belgium          BEL  2002  adequate_treatment   11.2
3                 Bulgaria          BGR  2006  adequate_treatment    7.3
4                 Colombia          COL  2012  adequate_treatment    3.2

In [88]:
output_path = "../data/processed/anxiety_treatment_gap_processed.csv"
df_long.to_csv(output_path, index=False)

output_path

'../data/processed/anxiety_treatment_gap_processed.csv'

In [ ]:
import pandas as pd

path = "../data/raw/anxiety-disorders-treatment-gap.csv"
df = pd.read_csv(path)


df = df.rename(columns={
    'possibly_adequate_treatment__conditional': 'adequate_treatment',
    'other_treatments__conditional': 'other_treatment',
    'untreated__conditional': 'untreated'
})


for col in ['adequate_treatment', 'other_treatment', 'untreated']:
    df[col] = (
        df[col]
        .astype(str)
        .str.replace("%", "", regex=False)
        .str.replace(",", ".", regex=False)
    )
    df[col] = pd.to_numeric(df[col], errors="coerce")


df.to_csv("../data/processed/anxiety_treatment_gap_processed.csv", index=False)

df.head(), df.columns

(                    Entity Code  Year  adequate_treatment  other_treatment  \
 0                Argentina  ARG  2015                12.0             18.0
 1  Beijing/Shanghai, China  NaN  2005                 8.8              8.5
 2                  Belgium  BEL  2002                11.2             24.5
 3                 Bulgaria  BGR  2006                 7.3             14.3
 4                 Colombia  COL  2012                 3.2             10.0

    untreated
 0       70.0
 1       82.7
 2       64.3
 3       78.4
 4       86.8  ,
 Index(['Entity', 'Code', 'Year', 'adequate_treatment', 'other_treatment',
        'untreated'],
       dtype='object'))

In [91]:
import pandas as pd


path_raw = "../data/raw/anxiety-disorders-treatment-gap.csv"
df = pd.read_csv(path_raw)

print(df.columns)


df = df.rename(columns={
    "possibly_adequate_treatment__conditional": "adequate_treatment",
    "other_treatments__conditional": "other_treatment",
    "untreated__conditional": "untreated"
})


value_cols = ["adequate_treatment", "other_treatment", "untreated"]

for col in value_cols:
    df[col] = (
        df[col]
        .astype(str)
        .str.replace("%", "", regex=False)   # remove o símbolo de %
        .str.replace(",", ".", regex=False)  # troca vírgula por ponto, se tiver
    )
    df[col] = pd.to_numeric(df[col], errors="coerce")


df_long = df.melt(
    id_vars=["Entity", "Code", "Year"],      # colunas que ficam como "chave"
    value_vars=value_cols,                  # colunas que viram linhas
    var_name="treatment_type",              # nome da coluna que indica o tipo
    value_name="value"                      # nome da coluna numérica
)


output_path = "../data/processed/anxiety_treatment_gap_long.csv"
df_long.to_csv(output_path, index=False)

output_path, df_long.head()

Index(['Entity', 'Code', 'Year', 'possibly_adequate_treatment__conditional',
       'other_treatments__conditional', 'untreated__conditional'],
      dtype='object')

('../data/processed/anxiety_treatment_gap_long.csv',
                     Entity Code  Year      treatment_type  value
 0                Argentina  ARG  2015  adequate_treatment   12.0
 1  Beijing/Shanghai, China  NaN  2005  adequate_treatment    8.8
 2                  Belgium  BEL  2002  adequate_treatment   11.2
 3                 Bulgaria  BGR  2006  adequate_treatment    7.3
 4                 Colombia  COL  2012  adequate_treatment    3.2)

In [92]:
df = pd.read_csv("../data/raw/anxiety-disorders-treatment-gap.csv")
df.head()
df.columns

Index(['Entity', 'Code', 'Year', 'possibly_adequate_treatment__conditional',
       'other_treatments__conditional', 'untreated__conditional'],
      dtype='object')

In [96]:
df.columns.tolist()

['Entity',
 'Code',
 'Year',
 'possibly_adequate_treatment__conditional',
 'other_treatments__conditional',
 'untreated__conditional']

In [ ]:
import pandas as pd


path = "../data/raw/anxiety-disorders-treatment-gap.csv"
df = pd.read_csv(path)

print("COLUNAS ORIGINAIS:")
print(df.columns.tolist())


adequate_col   = [c for c in df.columns if "adequate" in c.lower()][0]
other_col      = [c for c in df.columns if "other_treat" in c.lower()][0]
untreated_col  = [c for c in df.columns if "untreated" in c.lower()][0]

print("\nColunas detectadas:")
print("Adequate  →", adequate_col)
print("Other     →", other_col)
print("Untreated →", untreated_col)


df = df.rename(columns={
    adequate_col: "adequate",
    other_col: "other",
    untreated_col: "untreated"
})


df = df[["Entity", "Code", "Year", "adequate", "other", "untreated"]]


for col in ["adequate", "other", "untreated"]:
    df[col] = df[col].astype(str)
    df[col] = df[col].str.replace("%", "", regex=False)
    df[col] = df[col].str.replace(",", ".", regex=False)
    df[col] = pd.to_numeric(df[col], errors="coerce")

print("\nPRÉVIA DO DF LIMPO:")
print(df.head())
print(df.dtypes)


df_long = df.melt(
    id_vars=["Entity", "Code", "Year"],
    value_vars=["adequate", "other", "untreated"],
    var_name="Treatment_Type",
    value_name="Value"
)

print("\nVALORES NULOS EM VALUE:", df_long["Value"].isna().sum())
print(df_long.head())


output_path = "../data/processed/anxiety_treatment_gap_long.csv"
df_long.to_csv(output_path, index=False)
print("\nArquivo salvo em:", output_path)

COLUNAS ORIGINAIS:
['Entity', 'Code', 'Year', 'possibly_adequate_treatment__conditional', 'other_treatments__conditional', 'untreated__conditional']

Colunas detectadas:
Adequate  → possibly_adequate_treatment__conditional
Other     → other_treatments__conditional
Untreated → untreated__conditional

PRÉVIA DO DF LIMPO:
                    Entity Code  Year  adequate  other  untreated
0                Argentina  ARG  2015      12.0   18.0       70.0
1  Beijing/Shanghai, China  NaN  2005       8.8    8.5       82.7
2                  Belgium  BEL  2002      11.2   24.5       64.3
3                 Bulgaria  BGR  2006       7.3   14.3       78.4
4                 Colombia  COL  2012       3.2   10.0       86.8
Entity        object
Code          object
Year           int64
adequate     float64
other        float64
untreated    float64
dtype: object

VALORES NULOS EM VALUE: 0
                    Entity Code  Year Treatment_Type  Value
0                Argentina  ARG  2015       adequate   12.0
1  Beijing/Shanghai, China  NaN  2005       adequate    8.8
2                  Belgium  BEL  2002       adequate   11.2
3                 Bulgaria  BGR  2006       adequate    7.3
4                 Colombia  COL  2012       adequate    3.2

Arquivo salvo em: ../data/processed/anxiety_treatment_gap_long.csv

In [98]:
import pandas as pd

df = pd.read_csv("../data/processed/anxiety_treatment_gap_long.csv")
print(df.head(15))
print(df.dtypes)

                           Entity Code  Year Treatment_Type  Value
0                       Argentina  ARG  2015       adequate   12.0
1         Beijing/Shanghai, China  NaN  2005       adequate    8.8
2                         Belgium  BEL  2002       adequate   11.2
3                        Bulgaria  BGR  2006       adequate    7.3
4                        Colombia  COL  2012       adequate    3.2
5                          France  FRA  2002       adequate   13.7
6                         Germany  DEU  2003       adequate   13.0
7           High-income countries  NaN  2017       adequate   13.8
8                            Iraq  IRQ  2007       adequate    1.7
9                          Israel  ISR  2004       adequate   15.8
10                          Italy  ITA  2002       adequate    9.1
11                          Japan  JPN  2006       adequate   11.6
12                        Lebanon  LBN  2003       adequate    1.3
13  Lower-middle-income countries  NaN  2017       adequate    2.3
14             Medellin, Colombia  NaN  2012       adequate    3.8
Entity             object
Code               object
Year                int64
Treatment_Type     object
Value             float64
dtype: object

In [99]:
df.to_csv(
    "../data/processed/anxiety_treatment_gap_long.csv",
    index=False,
    encoding="utf-8",
    sep=","
)